.contact {
  width: 100%;
  max-width: 624px;
  padding: 24px 14px;
  font-family: "Inter", sans-serif;
  @media screen and (max-width: 1000px){
    text-align: center;
  }

  h1 {
    margin: 0 0 18px;
    font-size: 64px;
    font-weight: bold;
  }

  p {
    margin: 0 0 28px;
    font-size: 24px;
    color: #828282;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  text-align: start;

  label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #111;
  }

  input,
  textarea {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 12px;
    font-size: 16px;
    font-family: inherit;
    outline: none;

    &::placeholder {
      color: #8c8c8c;
    }

    &:focus {
      border-color: #000;
    }
  }

  textarea {
    min-height: 86px;
    resize: none;
  }

  button {
    margin-top: 4px;
    width: 100%;
    height: 44px;
    border: none;
    border-radius: 5px;
    background: #000;
    color: #fff;
    font-size: 15px;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 22px;

  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column;
  }
}