.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 67px 0;

  .content {
    gap: 48px;
    display: inherit;
    flex-direction: row;
    align-items: center;

    button {
      background-color: black;
      color: white;
      border-radius: 8px;
      padding: 14px 24px;
      cursor: pointer;
    }
  }
}